n8n/wf_send_message_to_telegram_bot.json
{
  "name": "wf_send_message_to_telegram_bot",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8ed3f21a-1c56-4e1b-b98e-99594fcbb2b8",
      "name": "When chat message received",
      "webhookId": "0f02dd24-bf44-41b4-9272-22e5ee7f0d57",
      "notesInFlow": true
    },
    {
      "parameters": {
        "chatId": "6457088476",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        0
      ],
      "id": "816a38bf-478f-46e4-bb78-74872c072fb6",
      "name": "Send a text message",
      "webhookId": "b78346d8-9129-4811-90f2-1625ca5fa647",
      "credentials": {
        "telegramApi": {
          "id": "X5mN2jfZwfdTOXCK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "258bb520-0704-4d1a-9916-b27a5d27d881",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "48502019-8ed7-48db-a168-5078671a801f",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "TxBDg859kDFgmpeD",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "be1e139e-80a2-4a65-a836-1f203a8eef3a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "204b5acb52f29149bac89eb2897abde2f6182d1276aa02c046856183e5765123"
  },
  "id": "48yxiZejbLrzjQM2",
  "tags": [
    {
      "createdAt": "2025-08-06T13:02:21.609Z",
      "updatedAt": "2025-08-06T13:02:21.609Z",
      "id": "Gk6O8idQ9xkyk5HO",
      "name": "llm"
    },
    {
      "createdAt": "2025-08-11T06:48:07.181Z",
      "updatedAt": "2025-08-11T06:48:07.181Z",
      "id": "OjYODor9RNN1qXjL",
      "name": "telegram"
    }
  ]
}