n8n/wf_update_google_doc.json
{
  "name": "wf_update_google_doc",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "6d921e0e-2fd4-4274-acfe-17e4c7c7fe1b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        336,
        192
      ],
      "id": "182facd6-9d2c-4c3b-b991-aa16dee56b2a",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "TxDBg859kDFgmpeD",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "8de19d72-3b30-4296-9691-403138a343e2",
      "name": "When chat message received",
      "webhookId": "cba2db9f-76ef-4a44-a942-cf2531fb70ed"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "14QoRO2__IWKuaWzP54MFroRYBuIkr5TEXzzF57E-L6a",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "c55c79e2-0023-4cc7-a998-da78b09cc71f",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "h6mLkqhdNJ8MkXKWE",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5852e0e7-5ca4-4213-bfee-b1e4143d5b11",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "204b5acb52f29149bac89eb2897abde2f6182d1276aa02c046856183e5765123"
  },
  "id": "pUq0dLbjMOedm2XV",
  "tags": [
    {
      "createdAt": "2025-08-06T13:02:05.662Z",
      "updatedAt": "2025-08-06T13:02:05.662Z",
      "id": "X7xbjSItfI3KZDgL",
      "name": "google doc"
    },
    {
      "createdAt": "2025-08-06T13:02:21.609Z",
      "updatedAt": "2025-08-06T13:02:21.609Z",
      "id": "Gu907idQ9xhyk3HO",
      "name": "llm"
    }
  ]
}